.button {
    display: flex;
    padding: 0px;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: var(--color-soft-blue);
    border-radius: 4px;
    border: 1px solid var(--color-gray-dark);
    min-width: 35px;
    min-height: 35px;
    box-shadow: -2px 2px 0 var(--color-gray-dark);
    transition: background-color 0.3s ease, box-shadow 0.1s ease;
    padding-inline: 8px;
}

.text {
    color: var(--color-gray-darker);
    font-weight: 600;
    font-size: 15px;
}

.button:hover:not(.disabled),
.button.active:not(.disabled) {
    background-color: var(--color-grayish-blue);
}

.button:active:not(.disabled),
.button.active:not(.disabled) {
    box-shadow: -1px 1px 0 var(--color-gray-dark);
}

.buttonIcon {
    justify-content: center;
}

.buttonIconIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
    background-color: var(--color-gray-light);
    border-radius: 4px;
    min-width: 30px;
    min-height: 30px;
    box-shadow: -3px 3px 0 var(--color-gray-dark);
    transition: background-color 0.3s ease, box-shadow 0.1s ease;
    border: 0;
}

.buttonIconIcon:hover:not(.disabled),
.buttonIconIcon.active:not(.disabled) {
    background-color: var(--color-grayish-brown);
}

.buttonIconIcon:active:not(.disabled),
.buttonIconIcon.active:not(.disabled) {
    box-shadow: -2px 2px 0 var(--color-gray-dark);
}

.buttonIconIcon.disabled {
    pointer-events: none;
    opacity: 0.5;
    box-shadow: -2px 2px 0 var(--color-gray-dark); /* Зафиксированная тень */
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled {
    background-color: var(--color-gray-light);
    border-color: var(--color-gray-light);
    opacity: 0.5;
    pointer-events: none;
}

.button.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.button.loading svg {
    animation: rotate 1.5s linear infinite;
}

.button.loading span {
    visibility: hidden;
}

.preloader {
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-gray-darker);
    border-top: 2px solid var(--color-soft-blue);
    border-radius: 50%;
    animation: rotate 1.5s linear infinite;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-grow: 1;
}

.innerButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.leftButton {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rightButton {
    display: flex;
    align-items: center;
    justify-content: center;
}
