.container {
    height:  var(--top-bar-height);
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: rgb(255, 116, 116);
    color: rgb(76, 76, 76);
}
.name {
    width: var(--left-part-width);
    border-right: 1px solid rgb(76, 76, 76);
    display: flex;
    justify-content: center;
    align-items: center;
}