.popover {
    background-color: var(--color-white-background);
    border-radius: 8px;
    border: 2px solid var(--color-gray-dark);
    box-shadow: -3px 3px 0 var(--color-gray-dark);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 300px;
}

.content {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;
}

.list {
    display: flex;
    flex-direction: column;
}

.item {
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease;
}

.item:hover {
    background-color: var(--color-grayish-blue);
}

.text {
    color: var(--color-gray-darker);
    font-size: 14px;
}

.searchField {
    width: 100%;
}

.preloader {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 