.shell {
	--preview-width: 180px;
	width: var(--preview-width);
	min-height: calc(var(--preview-width) * 9 / 16);

	background-color: aqua;
	user-select: none;
	overflow: hidden;

	box-sizing: border-box;
	border-radius: 15px;
	border: 1px solid var(--color-gray-dark);
	box-shadow: 2px 2px 0 var(--color-gray-dark);
}

.selected {
	border: 3px solid var(--color-gray-dark);
}

.placeholder {
	height: calc(180px * 9 / 16 + 15px);
	width: 100%;
}

.invisible {
	max-height: 0;
}