.collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: var(--left-part-width);
    /* border-color: rgb(76, 76, 76); */
    border-right: 1px solid rgb(76, 76, 76);
    overflow-y: auto;
}