.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
  
.popup {
	background-color: white;
	width: 400px;
	max-width: 90%;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	position: relative;
	color: var(--color-gray-darker)
}
  
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
  
.closeButton {
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
}
  
.body {
	margin-top: 20px;
}
  
.footer {
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
}
  
button {
	padding: 10px 15px;
	margin-left: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
  
button:disabled {
	background-color: #ccc;
}
  
button.default {
	background-color: #007bff;
	color: white;
}
  
button.loading {
	background-color: #f0ad4e;
	color: white;
}
  
button.disable {
	background-color: #ccc;
	color: #666;
}
  