.toolBar {
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 18px;
	background-color: var(--color-white-background);
	border: 1px solid var(--color-gray-dark);
	border-radius: 7px;
	padding-inline: 18px;
}

.fontSizeField {
	box-sizing: border-box;
	text-align: center;
	font-size: 15px;
	height: 35px;
	width: 42px;
	padding-inline: 3px;
}

.fontSizeContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 7px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.colorpicker {
	width: 50px;
	height: 50px;
}
