.resizeFrame {
    border: 2px dashed rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.corner {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

.topLeft {
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
}

.topRight {
    top: -5px;
    right: -5px;
    cursor: nesw-resize;
}

.bottomLeft {
    bottom: -5px;
    left: -5px;
    cursor: nesw-resize;
}

.bottomRight {
    bottom: -5px;
    right: -5px;
    cursor: nwse-resize;
}
