.textField {
    background-color: var(--color-white-background);
    padding-inline: 10px;
    border-radius: 7px;
    border: 1px solid var(--color-gray-dark);
    font-size: 16px;
    color: var(--color-gray-darker);
    height: 35px;
    outline: none;
} 