.numberField {
    background-color: var(--color-white-background);
    padding-inline: 10px;
    border-radius: 7px;
    border: 1px solid var(--color-gray-dark);
    font-size: 16px;
    color: var(--color-gray-darker);
    height: 35px;
    width: 60px;
    outline: none;
}

.numberField::-webkit-inner-spin-button,
.numberField::-webkit-outer-spin-button {
    opacity: 0;
}