:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--top-bar-height: 90px;
	--left-part-width: 300px;
	
	--color-gray-dark: #5A5A5A; /* Бордер */
	--color-gray-darker: #444746; /* Шрифт */
	--color-gray-light: #DEDEDE; /* Кнопка undo redo фон */
	--color-blue-light: #B1E0EC; /* Верхняя панель фон */
	--color-white-background: #F2F7FF; /* Рабочая область фон */
	--color-soft-blue: #EDF2FA; /* Кнопка фон */
	--color-grayish-blue: #CFD7E3; /* Кнопка на ховер */
	--color-grayish-brown: #CECECE; /* Кнопка undoRedo на ховер */
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

@font-face {
    font-family: '8bitWonder';
    src: url('./assets/fonts/8bitWonder.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Стили для скроллбара для Chromium-based браузеров */
::-webkit-scrollbar {
	width: 8px;
}
  
::-webkit-scrollbar-track {
	background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
	background-color: var(--color-gray-light);
	border-radius: 4px;
}
  
::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-grayish-brown);
}